@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply pb-4;
  }
}

@layer components {
  .outlineButton {
    @apply border-2 border-secondaryColor bg-primaryColor hover:bg-secondaryColor text-secondaryColor hover:text-whiteColor uppercase rounded-full px-4 py-2 transition-all duration-100;
  }
  .inputDefault {
    @apply w-full p-2 border-2 border-secondaryColor bg-transparent outline-none rounded-md text-whiteColor backdrop-blur-md;
  }
  .projectPreviewIcons {
    @apply w-12 h-12 rounded-full bg-whiteColor hover:bg-secondaryColor hover:text-white transition-all duration-100 grid place-items-center text-2xl;
  }
  .projectTechnologyIcons {
    @apply w-8 h-8 rounded-full bg-whiteColor grid place-items-center text-2xl cursor-pointer;
  }
}

/* For Firefox */
.navBarMenuList {
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgb(234, 179, 8) rgb(34, 34, 59);
}

/* For Webkit browsers like Chrome and Safari */
.navBarMenuList::-webkit-scrollbar {
  width: 12px;
}

.navBarMenuList::-webkit-scrollbar-thumb {
  background-color: rgb(34, 34, 59);
  border-radius: 50px;
}

.navBarMenuList::-webkit-scrollbar-track {
  background-color: rgb(4, 150, 255);
}
